{{!< default}}

<main class="gh-main">

    <section class="gh-outer">
        <div class="gh-inner">
            <h1 class="is-title">Archive</h1>
        </div>
    </section>

    {{> "components/post-feed-paginated"}}

</main>
