{{!< default}}

<main class="gh-main">

    <section class="gh-outer">
        <div class="gh-inner gh-canvas">
            <h1 class="is-title gh-header-text-tall-upper">Archive</h1>
        </div>
    </section>

    {{> "components/post-feed-paginated"}}

</main>
