{{!< default}}
{{!-- The tag above means: insert everything in this file into the body of the default.hbs template --}}

{{!-- Visually hidden h1 for screen readers; post and other pages define their own h1 --}}
<h1 class="sr-only">{{@site.title}}</h1>

{{!-- Header hidden for now; restore when needed:
{{> "components/header" headerStyle=@custom.header_style}}
--}}

{{!-- <div class="temporary-spacer"></div> --}}
{{> "components/styled-section-header" text="Latest"}}

<div class="gh-body-snapped-right">
    {{> "components/latest-post"}}
</div>

{{> "components/styled-section-header" text="Featured"}}

<div class="gh-body-snapped-right">
    {{> "components/post-card-group" filter="featured:true"}}
</div>


{{> "components/styled-section-header" text="Categories"}}

<div class="gh-body-snapped-right">
    <div class="gh-outer">
        <div class="gh-home-columns-inner gh-inner">
            {{> "components/recent-post-list" filter="tag:interview" heading="interview" order="odd" headerLink=true}}
            {{> "components/recent-post-list" filter="tag:essay" heading="essay" order="even" headerLink=true}}
            {{> "components/recent-post-list" filter="tag:records" heading="records" order="odd" headerLink=true}}
        </div>
    </div>
</div>


