{{#if showFeatured}}
    {{#get "posts" filter="featured:true" include="authors" limit=limit as |featured|}}
        <section class="gh-featured gh-outer">
            <div class="gh-featured-inner gh-inner">
                <h2 class="gh-featured-title">{{t "Featured"}}</h2>
                <ul class="gh-featured-feed" role="list">
                    {{#foreach featured}}
                        <li>{{> "post-card" imageSizes="80px"}}</li>
                    {{/foreach}}
                </ul>
            </div>
        </section>
    {{/get}}
{{/if}}
