<div class="gh-styled-section-header-container">
    <div class="gh-styled-section-header-border-wide"></div>
    <h2 class="gh-styled-section-header-text-serif ">{{text}}</h2>
    <div class="gh-styled-section-header-border-narrow"></div>
</div>